.form-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form-container h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.form-control {
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
}

.form-control label{
    margin-bottom: 1rem;
}

.form-control select{
    max-width: 50%;
    margin-top: 0.5rem;
}

.form-control textarea {
    min-height: 10rem;
    min-width: 40rem;
}

.form-action {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}